
.icon-user:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-basketball:before { content: '\e807'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */